.navbar {
  height: 100%;
  background-color: blueviolet;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;

  button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
  }
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
