<div class="pet-detail">
  <div *ngIf="pet; else noPetSelected" class="pet-info">
    <div class="title">
      <h1>{{ pet.name | titlecase }}</h1>
      <h2>{{ pet.species }}</h2>
    </div>
    <img [src]="pet.imageUrl" [alt]="pet.name" />
    <p class="price">{{ pet.price }} €</p>
    <p [class]="pet.isAvailable ? 'available' : 'sold'">
      {{ pet.isAvailable ? "Disponible" : "Vendu" }}
    </p>
  </div>
</div>

<ng-template #noPetSelected>
  <div class="no-pet-selected">Merci de sélectionner un animal</div>
</ng-template>
